<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <a href ="/" class="home">HomePage</a>
</head>
<body>
    <div class="Welcome">
    <img src="/views/images/Josephine-Baker.png" alt class="josephine">
    <h1>Welcome !<br> This site is about Josephine Baker</h1>
    <a href="/about">About</a>
</div>
</section>
<section>
      <a href="/gallery">Gallery</a>
    </section>
    
</body>
</html>